# Exploración datos Zentry

In [1]:
import os

import pandas as pd

from cedenar_anomalies.utils.paths import (
    data_interim_dir,
    data_processed_dir,
    data_raw_dir,
)

In [1]:
os.getcwd()

NameError: name 'os' is not defined

In [3]:
pd.set_option("display.max_rows", None)  # Mostrar todas las filas
pd.set_option("display.max_columns", None)  # Mostrar todas las columnas

### Datos 2022

In [23]:
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\zentry\\plain4.csv'  # Reemplaza con tu ruta
# df_2022 = pd.read_csv(ruta_archivo)

In [14]:
# df_2022.info()

In [ ]:
# df_2022.info() # Documento enviado inicialmente

In [ ]:
# valores_unicos_id = df_2022['id'].unique()
#
# df_unicos_id = pd.DataFrame(valores_unicos_id, columns=['id_2022'])
#
# df_unicos_id.to_excel('identificadores_unicos2022_.xlsx', index=False)
#
# print("Valores únicos de 'id' exportados a identificadores_unicos2022_.xlsx")

In [30]:
# filas, columnas = df_2022.shape
#
# print(f"Número de filas: {filas}")
# print(f"Número de columnas: {columnas}")

Número de filas: 19028473
Número de columnas: 5

In [ ]:
# filas, columnas = df_2022.shape

# print(f"Número de filas: {filas}")
# print(f"Número de columnas: {columnas}")

### Datos 2023

In [4]:
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\zentry\\plain3.csv'  # Reemplaza con tu ruta
ruta_archivo = data_raw_dir("plain3.csv")
df_2023 = pd.read_csv(ruta_archivo)

/var/folders/pq/cm_j30pd6d5gvwryc4gttm2h0000gn/T/ipykernel_7922/4246414070.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2023 = pd.read_csv(ruta_archivo)

In [5]:
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16505432 entries, 0 to 16505431
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   odt       int64
 1   id        int64
 2   item      object
 3   tipodato  object
 4   value     object
dtypes: int64(2), object(3)
memory usage: 629.6+ MB

In [6]:
valores_unicos_id = df_2023["id"].unique()

df_unicos_id = pd.DataFrame(valores_unicos_id, columns=["id_2023"])

df_unicos_id.to_excel(data_interim_dir("identificadores_unicos2023.xlsx"), index=False)

print("Valores únicos de 'id' exportados a identificadores_unicos2023.xlsx")

Valores únicos de 'id' exportados a identificadores_unicos2023.xlsx

In [7]:
filas, columnas = df_2023.shape

print(f"Número de filas: {filas}")
print(f"Número de columnas: {columnas}")

Número de filas: 16505432
Número de columnas: 5

### Datos 2024

In [7]:
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\zentry\\plain5.csv'  # Reemplaza con tu ruta
# df_2024 = pd.read_csv(ruta_archivo)

C:\Users\User\AppData\Local\Temp\ipykernel_9532\55379066.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2024 = pd.read_csv(ruta_archivo)

In [9]:
# valores_unicos_id = df_2024['id'].unique()
#
# df_unicos_id = pd.DataFrame(valores_unicos_id, columns=['id_2024'])
#
# df_unicos_id.to_excel('identificadores_unicos2024.xlsx', index=False)
#
# print("Valores únicos de 'id' exportados a identificadores_unicos2024.xlsx")

Valores únicos de 'id' exportados a identificadores_unicos2024.xlsx

In [11]:
# filas, columnas = df_2024.shape
#
# print(f"Número de filas: {filas}")
# print(f"Número de columnas: {columnas}")

Número de filas: 14633723
Número de columnas: 5

In [ ]:
valores_nulos_por_columna = df_2022.isnull().sum()
print(valores_nulos_por_columna)

### Referencia código Exportar niveles del documento

In [8]:
# evento2022 = df_2022.copy()
# # variable 'id' es de tipo categórico
# evento2022['id'] = evento2022['id'].astype('category')

# # Obtener los niveles únicos de la variable 'id'
# niveles_id = evento2022['id'].cat.categories

# # Convertir los niveles a un DataFrame
# df_niveles_id = pd.DataFrame(niveles_id, columns=['id_unico'])

# # Guardar el DataFrame en un archivo CSV
# df_niveles_id.to_csv('niveles_id_unicos_2022.csv', index=False)

# print("Niveles únicos de 'id' guardados en niveles_id_unicos_2022.csv")

In [9]:
# df_niveles_id.head()

## Datos únicos odt documentos

#### 2022

In [16]:
# evento2022_odt = df_2022.copy()
# # variable 'id' es de tipo categórico
# evento2022_odt['odt'] = evento2022_odt['odt'].astype('category')
#
# # Obtener los niveles únicos de la variable 'id'
# niveles_odt = evento2022_odt['odt'].cat.categories
#
# # Convertir los niveles a un DataFrame
# df_niveles_odt = pd.DataFrame(niveles_odt, columns=['odt_unico'])
#
# # Guardar el DataFrame en un archivo CSV
# df_niveles_odt.to_csv('niveles_odt_unicos_2022.csv', index=False)
#
# print("Niveles únicos de 'odt' guardados en niveles_odt_unicos_2022.csv")

Niveles únicos de 'odt' guardados en niveles_odt_unicos_2022.csv

### 2023

In [8]:
evento2023_odt = df_2023.copy()
# variable 'id' es de tipo categórico
evento2023_odt["odt"] = evento2023_odt["odt"].astype("category")

# Obtener los niveles únicos de la variable 'id'
niveles_odt = evento2023_odt["odt"].cat.categories

# Convertir los niveles a un DataFrame
df_niveles_odt = pd.DataFrame(niveles_odt, columns=["odt_unico"])

# Guardar el DataFrame en un archivo CSV
df_niveles_odt.to_csv(data_interim_dir("niveles_odt_unicos_2023.csv"), index=False)

print("Niveles únicos de 'odt' guardados en niveles_odt_unicos_2023.csv")

Niveles únicos de 'odt' guardados en niveles_odt_unicos_2023.csv

### 2024

In [13]:
# evento2024_odt = df_2024.copy()
# # variable 'id' es de tipo categórico
# evento2024_odt['odt'] = evento2024_odt['odt'].astype('category')
#
# # Obtener los niveles únicos de la variable 'id'
# niveles_odt = evento2024_odt['odt'].cat.categories
#
# # Convertir los niveles a un DataFrame
# df_niveles_odt = pd.DataFrame(niveles_odt, columns=['odt_unico'])
#
# # Guardar el DataFrame en un archivo CSV
# df_niveles_odt.to_csv('niveles_odt_unicos_2024.csv', index=False)
#
# print("Niveles únicos de 'odt' guardados en niveles_odt_unicos_2024.csv")

Niveles únicos de 'odt' guardados en niveles_odt_unicos_2024.csv

## Particiones datasets

### 2022

In [32]:
evento2022 = df_2022.copy()
# variable 'id' es de tipo categórico
evento2022["id"] = evento2022["id"].astype("category")

# Obtener los niveles únicos de la variable 'id'
niveles_id = evento2022["id"].cat.categories

# Crear un dataset por cada nivel de 'id'
for nivel in niveles_id:
    # Filtrar el dataset por cada nivel
    subset_nivel = evento2022[evento2022["id"] == nivel]

    # Guardar el datasets
    globals()[f"evento2022_{nivel}"] = subset_nivel

    subset_nivel.to_csv(f"evento2022_{nivel}.csv", index=False)

print("Proceso completado.")

Proceso completado.

### 2023

In [9]:
evento2023 = df_2023.copy()
# variable 'id' es de tipo categórico
evento2023["id"] = evento2023["id"].astype("category")

# Obtener los niveles únicos de la variable 'id'
niveles_id = evento2023["id"].cat.categories

# Crear un dataset por cada nivel de 'id'
for nivel in niveles_id:
    # Filtrar el dataset por cada nivel
    subset_nivel = evento2023[evento2023["id"] == nivel]

    # Guardar el datasets
    globals()[f"evento2023_{nivel}"] = subset_nivel

    subset_nivel.to_csv(data_interim_dir(f"evento2023_{nivel}.csv"), index=False)

print("Proceso completado.")

Proceso completado.

### 2024

In [15]:
evento2024 = df_2024.copy()
# variable 'id' es de tipo categórico
evento2024["id"] = evento2024["id"].astype("category")

# Obtener los niveles únicos de la variable 'id'
niveles_id = evento2024["id"].cat.categories

# Crear un dataset por cada nivel de 'id'
for nivel in niveles_id:
    # Filtrar el dataset por cada nivel
    subset_nivel = evento2024[evento2024["id"] == nivel]

    # Guardar el datasets
    globals()[f"evento2024_{nivel}"] = subset_nivel

    subset_nivel.to_csv(f"evento2024_{nivel}.csv", index=False)

print("Proceso completado.")

Proceso completado.

### Frecuencias

### 2022

In [ ]:
# for nivel in niveles_id:
#     subset_nivel = evento2022[evento2022['id'] == nivel]
#
#     # Calcular las frecuencias de la variable 'item'
#     print(f"Frecuencias para id = {nivel}")
#     print(subset_nivel['item'].value_counts())

In [41]:
# resultados = []
#
# for nivel in niveles_id:
#     subset_nivel = evento2022[evento2022['id'] == nivel]
#
#     frecuencias = subset_nivel['item'].value_counts().items()
#
#     for item, frecuencia in frecuencias:
#         resultados.append({'id': nivel, 'item': item, 'frecuencia': frecuencia})
#
# # DataFrame a partir de la lista de resultados
# df_resultados_2022 = pd.DataFrame(resultados)

In [43]:
# # archivo Excel
# df_resultados_2022.to_excel('frecuencias_id_item_2022.xlsx', index=False)
#
# print("Resultados guardados en frecuencias_id_item_2022.xlsx")

Resultados guardados en frecuencias_id_item_2022.xlsx

In [46]:
# df_resultados_2022.head(3)

   id       item  frecuencia
0   1       Zona      166633
1   3  Dirección      169188
2   4  Municipio      166638

### 2023

In [10]:
resultados = []

for nivel in niveles_id:
    subset_nivel = evento2023[evento2023["id"] == nivel]

    frecuencias = subset_nivel["item"].value_counts().items()

    for item, frecuencia in frecuencias:
        resultados.append({"id": nivel, "item": item, "frecuencia": frecuencia})

# DataFrame a partir de la lista de resultados
df_resultados_2023 = pd.DataFrame(resultados)

In [11]:
# archivo Excel
df_resultados_2023.to_excel(
    data_interim_dir("frecuencias_id_item_2023.xlsx"), index=False
)

print("Resultados guardados en frecuencias_id_item_2023.xlsx")

Resultados guardados en frecuencias_id_item_2023.xlsx

In [12]:
df_resultados_2023.head(3)

   id               item  frecuencia
0   1               Zona      144070
1   2  Nombre Suscriptor      144023
2   3          Dirección      145299

### 2024

In [18]:
# resultados = []
#
# for nivel in niveles_id:
#     subset_nivel = evento2024[evento2024['id'] == nivel]
#
#     frecuencias = subset_nivel['item'].value_counts().items()
#
#     for item, frecuencia in frecuencias:
#         resultados.append({'id': nivel, 'item': item, 'frecuencia': frecuencia})
#
# # DataFrame a partir de la lista de resultados
# df_resultados_2024 = pd.DataFrame(resultados)

In [22]:
# archivo Excel
# df_resultados_2024.to_excel('frecuencias_id_item_2024.xlsx', index=False)
#
# print("Resultados guardados en frecuencias_id_item_2024.xlsx")

Resultados guardados en frecuencias_id_item_2024.xlsx

### Leer las particiones sin leer el archivo mayor

### 2022

In [7]:
# # Directorio donde están las particiones
# directorio = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr'
#
# # Cargar los niveles únicos desde el CSV
# niveles_id = pd.read_excel(os.path.join(directorio, 'identificadores_unicos2022.xlsx'))['id_2022']
#
# # Leer las particiones y guardarlas en variables dinámicas
# for nivel in niveles_id:
#     nombre_archivo = f"evento2022_{nivel}.csv"
#     ruta_archivo = os.path.join(directorio, nombre_archivo)
#
#     if os.path.exists(ruta_archivo):
#         globals()[f"evento2022_{nivel}"] = pd.read_csv(ruta_archivo)
#         #print(f"Cargado: {nombre_archivo}")
#     else:
#         print(f"No encontrado: {nombre_archivo}")
#
# print("Todas las particiones han sido cargadas.")

Todas las particiones han sido cargadas.

In [17]:
evento2022_1.head(2)

      odt  id  item tipodato     value
0  507429   1  Zona  varchar     NORTE
1  552285   1  Zona  varchar  PACIFICO

### 2023

In [13]:
# Directorio donde están las particiones
# directorio = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr'

# Cargar los niveles únicos desde el CSV
# niveles_id = pd.read_excel(os.path.join(directorio, 'identificadores_unicos2023.xlsx'))['id_2023']
niveles_id = [
    1,
    1442,
    288,
    8,
    237,
    23,
    24,
    33,
    598,
    601,
    43,
    99,
    35,
    111,
    599,
    108,
    603,
    190,
    192,
    588,
    248,
    591,
    602,
    41,
    211,
    74,
    1889,
    597,
    600,
    37,
    1407,
    1410,
    68,
    1328,
    1334,
    594,
    67,
    1408,
    1352,
    1405,
    1283,
    1343,
    1346,
    1292,
    1298,
    69,
    1331,
    202,
    1349,
]

# Leer las particiones y guardarlas en variables dinámicas
for nivel in niveles_id:
    nombre_archivo = f"evento2023_{nivel}.csv"
    ruta_archivo = data_interim_dir(nombre_archivo)

    if os.path.exists(ruta_archivo):
        globals()[f"evento2023_{nivel}"] = pd.read_csv(ruta_archivo)
        # print(f"Cargado: {nombre_archivo}")
    else:
        print(f"No encontrado: {nombre_archivo}")

print("Todas las particiones han sido cargadas.")

Todas las particiones han sido cargadas.

In [14]:
evento2023_288.head(2)

       odt   id            item tipodato   value
0  2584979  288  Código Interno  integer  538741
1  2584978  288  Código Interno  integer  302756

### Filtrar datos solo Zona PACIFICO

### 2022

In [26]:
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\evento2022_1.csv'  # Reemplaza con tu ruta
# evento2022_1 = pd.read_csv(ruta_archivo)

In [28]:
# evento2022_1['value'].value_counts()

value
PACIFICO     42499
NORTE        33919
SUR          29715
CENTRO       28427
OCCIDENTE    26916
CN            2560
CE            1169
NO             716
SU             671
COCANA          22
OC              19
Name: count, dtype: int64

In [31]:
# # Filtrar los casos donde 'value' es "PACIFICO"
# odt_pacifico = evento2022_1[evento2022_1['value'] == 'PACIFICO']['odt']
#
# # Exportar el resultado a un CSV
# odt_pacifico.to_csv('odt_pacifico_2022.csv', index=False)
#
# print("Exportación completada: 'odt_pacifico_2022.csv'")

Exportación completada: 'odt_pacifico_2022.csv'

In [35]:
# odt_pacifico_2022 = pd.read_csv('odt_pacifico_2022.csv')

In [45]:
# odt_pacifico_2022.shape

(42499, 1)

In [43]:
# odt_pacifico_2022.head(2)

      odt
0  552285
1  551224

### 2023

In [15]:
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\evento2023_1.csv'  # Reemplaza con tu ruta
ruta_archivo = data_interim_dir("evento2023_1.csv")  # por que es zona
evento2023_1 = pd.read_csv(ruta_archivo)

In [16]:
evento2023_1["value"].value_counts()

value
SUR          31438
CENTRO       28640
NORTE        28085
OCCIDENTE    26386
PACIFICO     23847
CE            3923
CN             693
NO             509
SU             507
OC              42
Name: count, dtype: int64

In [17]:
# Filtrar los casos donde 'value' es "PACIFICO"
odt_pacifico = evento2023_1[evento2023_1["value"] == "PACIFICO"]["odt"]

# Exportar el resultado a un CSV
odt_pacifico.to_csv(data_interim_dir("odt_pacifico_2023.csv"), index=False)

print("Exportación completada: 'odt_pacifico_2023.csv'")

Exportación completada: 'odt_pacifico_2023.csv'

In [18]:
odt_pacifico_2023 = pd.read_csv(data_interim_dir("odt_pacifico_2023.csv"))

In [19]:
odt_pacifico_2023.shape

(23847, 1)

In [20]:
odt_pacifico_2023.head(2)

       odt
0  1561972
1  1813259

### 2024

In [61]:
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\evento2024_1.csv'  # Reemplaza con tu ruta
# evento2024_1 = pd.read_csv(ruta_archivo)

In [63]:
# evento2024_1['value'].value_counts()

value
SUR          31840
CENTRO       28349
NORTE        24922
PACIFICO     18393
OCCIDENTE    18337
CE            1894
SU            1864
CN             420
NO             344
PA             343
Name: count, dtype: int64

In [65]:
# # Filtrar los casos donde 'value' es "PACIFICO"
# odt_pacifico = evento2024_1[evento2024_1['value'] == 'PACIFICO']['odt']
#
# # Exportar el resultado a un CSV
# odt_pacifico.to_csv('odt_pacifico_2024.csv', index=False)
#
# print("Exportación completada: 'odt_pacifico_2024.csv'")

Exportación completada: 'odt_pacifico_2024.csv'

In [68]:
# odt_pacifico_2024 = pd.read_csv('odt_pacifico_2024.csv')

In [70]:
# odt_pacifico_2024.head(2)

       odt
0  2795081
1  2795080

## Extraer 288 de cada dataset y unir a odt de pacifico

In [21]:
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\evento2022_288.csv'  # Reemplaza con tu ruta
# evento2022_288 = pd.read_csv(ruta_archivo)
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\evento2023_288.csv'  # Reemplaza con tu ruta
ruta_archivo = data_interim_dir("evento2023_288.csv")
evento2023_288 = pd.read_csv(ruta_archivo)
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\evento2024_288.csv'  # Reemplaza con tu ruta
# evento2024_288 = pd.read_csv(ruta_archivo)

In [22]:
def procesar_niveles(anio, niveles, nuevo_dataset):
    """
    Función para agregar datos de múltiples datasets a un dataset base usando la columna 'odt'.

    Parámetros:
    - anio (int): Año de los datasets.
    - niveles (list): Lista de IDs de variables a procesar.
    - nuevo_dataset (DataFrame): Dataset base al que se le agregarán las columnas.

    Retorna:
    - DataFrame con las columnas agregadas.
    """
    nuevo_dataset = nuevo_dataset.copy()

    for nivel in niveles:
        df_actual = globals().get(f"evento{anio}_{nivel}")

        if df_actual is not None:
            if "odt" in df_actual.columns and "value" in df_actual.columns:
                df_actual = df_actual[["odt", "value"]].drop_duplicates(subset="odt")
                nuevo_dataset[f"item_{nivel}"] = nuevo_dataset["odt"].map(
                    df_actual.set_index("odt")["value"]
                )

                # Convertir a enteros si no hay valores nulos
                if not nuevo_dataset[f"item_{nivel}"].isna().all():
                    nuevo_dataset[f"item_{nivel}"] = (
                        nuevo_dataset[f"item_{nivel}"].fillna(0).astype(int)
                    )

                print(f"✔️ Procesado: evento{anio}_{nivel}")
            else:
                print(f"⚠️ Columnas faltantes en: evento{anio}_{nivel}")
        else:
            print(f"⚠️ No encontrado: evento{anio}_{nivel}")

    # Guardar el dataset consolidado
    # output_path = f"J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\nuevo_dataset_{anio}.csv"
    output_path = data_interim_dir(f"nuevo_dataset_{anio}.csv")
    nuevo_dataset.to_csv(output_path, index=False)
    print(f"✅ Proceso completado. Dataset guardado en {output_path}.")

    return nuevo_dataset

In [23]:
# # Lista de ids de variables
# niveles = [288]
#
# # Base principal (odt_pacifico) ya cargada
# nuevo_dataset = odt_pacifico_2022.copy()
#
# nuevo_dataset_2022 = procesar_niveles(2022, niveles, odt_pacifico_2022)

In [24]:
# nuevo_dataset_2022.head(2)

In [25]:
# Lista de ids de variables
niveles = [288]

# Base principal (odt_pacifico) ya cargada
nuevo_dataset = odt_pacifico_2023.copy()

nuevo_dataset_2023 = procesar_niveles(2023, niveles, odt_pacifico_2023)

✔️ Procesado: evento2023_288
✅ Proceso completado. Dataset guardado en /Users/frandak2/Documents/repos/cedenar_anomalies/data/interim/nuevo_dataset_2023.csv.

In [26]:
# # Lista de ids de variables
# niveles = [288]
#
# # Base principal (odt_pacifico) ya cargada
# nuevo_dataset = odt_pacifico_2024.copy()
#
# nuevo_dataset_2024 = procesar_niveles(2024, niveles, odt_pacifico_2024)

In [27]:
# filas, columnas = nuevo_dataset_2022.shape
# print(f"Dataset Pacifico 2022 - Número de registros: {filas}")

filas, columnas = nuevo_dataset_2023.shape
print(f"Dataset Pacifico 2023 - Número de registros: {filas}")
#
# filas, columnas = nuevo_dataset_2024.shape
# print(f"Dataset Pacifico 2024 - Número de registros: {filas}")

Dataset Pacifico 2023 - Número de registros: 23847

In [28]:
## Vacíos de los datasets por año

# # Contar los registros donde item_288 es igual a 0
# conteo_ceros = (nuevo_dataset_2022['item_288'] == 0).sum()
# print(f"Año 2022 - Número de registros con Código Interno vacío: {conteo_ceros}")

conteo_ceros = (nuevo_dataset_2023["item_288"] == 0).sum()
print(f"Año 2023 - Número de registros con Código Interno vacío: {conteo_ceros}")

# conteo_ceros = (nuevo_dataset_2024['item_288'] == 0).sum()
# print(f"Año 2024 - Número de registros con Código Interno vacío: {conteo_ceros}")

Año 2023 - Número de registros con Código Interno vacío: 4260

In [29]:
## Eliminar vacíos por año

# # Eliminar los registros donde item_288 es igual a 0
# nuevo_dataset_2022_filtrado = nuevo_dataset_2022[nuevo_dataset_2022['item_288'] != 0]
# # Guardar el DataFrame filtrado en un archivo CSV
# ruta_guardado = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\nuevo_dataset_2022_f.csv'
# nuevo_dataset_2022_filtrado.to_csv(ruta_guardado, index=False)
# print(f"Año 2022 - Registros eliminados y guardados en: {ruta_guardado}")

nuevo_dataset_2023_filtrado = nuevo_dataset_2023[nuevo_dataset_2023["item_288"] != 0]
# Guardar el DataFrame filtrado en un archivo CSV
# ruta_guardado = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\nuevo_dataset_2023_f.csv'
ruta_guardado = data_interim_dir("nuevo_dataset_2023_f.csv")

nuevo_dataset_2023_filtrado.to_csv(ruta_guardado, index=False)
print(f"Año 2023 - Registros eliminados y guardados en: {ruta_guardado}")

# nuevo_dataset_2024_filtrado = nuevo_dataset_2024[nuevo_dataset_2024['item_288'] != 0]
# # Guardar el DataFrame filtrado en un archivo CSV
# ruta_guardado = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\nuevo_dataset_2024_f.csv'
# nuevo_dataset_2024_filtrado.to_csv(ruta_guardado, index=False)
# print(f"Año 2024 - Registros eliminados y guardados en: {ruta_guardado}")

Año 2023 - Registros eliminados y guardados en: /Users/frandak2/Documents/repos/cedenar_anomalies/data/interim/nuevo_dataset_2023_f.csv

### Usuarios Pacifico

In [30]:
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\zentry\\pacifico_data.xlsx'
ruta_archivo = data_raw_dir("cedenar_data.xlsx")
usu_pacifico = pd.read_excel(ruta_archivo)
usu_pacifico = usu_pacifico[usu_pacifico.ZONA == "PACIFICO"]

In [31]:
usu_pacifico.head(2)

,PRODUCT_ID,PRODUCTO,CONTRATO,CLIENTE,NOMBRE_CLIENTE,APELLIDO_CLIENTE,ZONA,SECCIONAL,DIRECCION_PRODUCTO,MUNICIPIO_PRODUCTO,VEREDA_CENTRO_POBLADO,BARRIO_PRODUCTO,SECTOR_OPERATIVO_PRODUCTO,COD_CICLO_CONSUMO,CICLO_CONSUMO,COD_CICLO_FACTURACION,CICLO_FACTURACION,RUTA,DES_RUTA,ORDEN_PREDIO,AREA,FECHA_INSTALACION_PRODUCTO,ESTADO_DE_CORTE,ESTADO_PRODUCTO,FECHA_RETIRO_PRODUCTO,SERVICIO_PROVISIONAL,PRODUCTO_ACTIVO,CATEGORIA,SUB_CATEGORIA,ZONA_TARIFARIA,PLAN_COMERCIAL,METOD_VARCON,TRAFO_OPEN,FECHA_INGRESO_A_SISTEMA,FECHA_DE_CONEXION,CARTERA_EN_MORA,CARTERA_TOTAL,CARGA_INSTALADA,MODO_ADQUISICION,MEDIDOR,COMPONENTE,CODIGO_MEDIDOR,FECHA_INSTALACION,ESTADO_MEDIDOR,COMPONENT_TYPE_ID,CLASE_SERVICIO,TIPO_MEDIDOR,GAMA,TIPO_ITEM,FASES,TRAFO_SPARD,KVA,CIRCUITO,NIVEL,LATI_USU,LONG_USU,LATI_TRAFO,LONG_TRAFO
146,597102,597102,597102,100706,MARCIAL VICTORIANO_ LOPEZ NARVAEZ,NaN,PACIFICO,PACIFICO,EL ESFURZO I CS 347 DIV 1,TUMACO,SAN ANDRES DE TUMACO DISTRITO ESPECIAL INDUS...,EL ESFUERZO,114-TUMACO URBANO,4,0Y-TARIFA PARA CLAUSURA PACIFI,4,0Y-TARIFA PARA CLAUSURA PACIFI,5.0,2182-RUTA 2182 DE TUMACO,6058.0,Urbano,2000-10-10,92-Retiro definitivo,3-Retirado,2020-07-06,N,N,1-RESIDENCIAL,1-ESTRATO 1,-1-POR DEFECTO,16-RESIDENCIAL - DIRECTO,5013-PRODUCTOS DIRECTOS,TM30006,2000-10-10,2000-10-10,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,1184921,1184921,1184921,100802,ZAIDA JACKELINE,VALVERDE QUIÑONES,PACIFICO,PACIFICO,CS 53 A PRADOMAR DIV 1,TUMACO,SAN ANDRES DE TUMACO DISTRITO ESPECIAL INDUS...,PRADOMAR,114-TUMACO URBANO,54,0G-MEDIDA CENTRALIZADA TUMACO,54,0G-MEDIDA CENTRALIZADA TUMACO,4040.0,7510 - TUMACO VIADUCTO CONVENCIONAL MORRITO TR...,35560.0,Urbano,2016-02-29,1-Conexión,1-Activo,4732-12-31,N,Y,1-RESIDENCIAL,1-ESTRATO 1,-1-POR DEFECTO,31-PLAN RESIDENCIAL TELEMEDIDO,5004-CLIENTES TELEMEDIDOS,60TA030352,2016-02-29,2016-02-29,0.0,47090.0,1.8,C - comodato,MEC-54186,1605850.0,301790.0,2016-02-29,21-Pendiente de Retiro,18.0,3257-MEDIDOR AMI,NaN,NaN,NaN,NaN,60TA030352,45.0,60TM03,1.0,1.819331,-78.749592,1.819363,-78.749388

In [32]:
# Crear una función para verificar la existencia de los usuarios en Base de datos pacifico y devolver "si" o "no"
def verificar_existencia(valor):
    if valor in usu_pacifico["PRODUCTO"].values:
        return "si"
    else:
        return "no"

In [33]:
# # Crear una función para verificar la existencia de los usuarios en Base de datos pacifico y devolver "si" o "no"
# def verificar_existencia(valor):
#     if valor in usu_pacifico['PRODUCTO'].values:
#         return "si"
#     else:
#         return "no"
#
# nuevo_dataset_copia = nuevo_dataset_2022_filtrado.copy()
#
# # Aplicar la función a la columna item_288 y crear la columna existencia
# nuevo_dataset_copia['existencia'] = nuevo_dataset_copia['item_288'].apply(verificar_existencia)
#
# nuevo_dataset_copia.to_csv("nuevo_dataset_comprob_2022_filtrado.csv", index=False)

In [35]:
# nuevo_dataset_copia['existencia'].value_counts()

In [36]:
nuevo_dataset_copia = nuevo_dataset_2023_filtrado.copy()

# Aplicar la función a la columna item_288 y crear la columna existencia
nuevo_dataset_copia["existencia"] = nuevo_dataset_copia["item_288"].apply(
    verificar_existencia
)

nuevo_dataset_copia.to_csv(
    data_interim_dir("nuevo_dataset_comprob_2023_filtrado.csv"), index=False
)

In [37]:
nuevo_dataset_copia["existencia"].value_counts()

existencia
si    19584
no        3
Name: count, dtype: int64

In [38]:
# nuevo_dataset_copia = nuevo_dataset_2024_filtrado.copy()
#
# # Aplicar la función a la columna item_288 y crear la columna existencia
# nuevo_dataset_copia['existencia'] = nuevo_dataset_copia['item_288'].apply(verificar_existencia)
#
# nuevo_dataset_copia.to_csv("nuevo_dataset_comprob_2024_filtrado.csv", index=False)

In [39]:
# nuevo_dataset_copia['existencia'].value_counts()

### Eliminar ODT sin coincidencia en Productos pacifico

In [40]:
def eliminar_y_exportar(df_original, nombre_archivo_salida):
    """
    Elimina los registros donde 'existencia' es 'no', elimina la columna 'existencia' y guarda el DataFrame en un archivo CSV.

    Parámetros:
    - df_original (DataFrame): El DataFrame original con la columna 'existencia'.
    - nombre_archivo_salida (str): El nombre del archivo CSV de salida.
    """

    # Crear una copia del DataFrame para no modificar el original
    df_copia = df_original.copy()

    # Eliminar los registros donde 'existencia' es 'no'
    df_filtrado = df_copia[df_copia["existencia"] != "no"]

    # Eliminar la columna 'existencia'
    df_filtrado = df_filtrado.drop(columns=["existencia"])

    # Guardar el DataFrame filtrado en un archivo CSV
    df_filtrado.to_csv(data_interim_dir(nombre_archivo_salida), index=False)

    print(
        f"Registros eliminados y guardados en: {data_interim_dir(nombre_archivo_salida)}"
    )

In [41]:
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\nuevo_dataset_comprob_2022_filtrado.csv'  # Reemplaza con tu ruta
# df_2022_f_c = pd.read_csv(ruta_archivo)

# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\nuevo_dataset_comprob_2023_filtrado.csv'  # Reemplaza con tu ruta
ruta_archivo = data_interim_dir("nuevo_dataset_comprob_2023_filtrado.csv")
df_2023_f_c = pd.read_csv(ruta_archivo)

# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\nuevo_dataset_comprob_2024_filtrado.csv'  # Reemplaza con tu ruta
# df_2024_f_c = pd.read_csv(ruta_archivo)

In [42]:
# eliminar_y_exportar(df_2022_f_c, "df_odt_prod_2022.csv")

In [43]:
eliminar_y_exportar(df_2023_f_c, "df_odt_prod_2023.csv")

Registros eliminados y guardados en: /Users/frandak2/Documents/repos/cedenar_anomalies/data/interim/df_odt_prod_2023.csv

In [44]:
# eliminar_y_exportar(df_2024_f_c, "df_odt_prod_2024.csv")

### Agregar datos de usuario

In [45]:
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\df_odt_prod_2022.csv'  # Reemplaza con tu ruta
# df_odt_prod_2022 = pd.read_csv(ruta_archivo)

# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\df_odt_prod_2023.csv'
ruta_archivo = data_interim_dir("df_odt_prod_2023.csv")
df_odt_prod_2023 = pd.read_csv(ruta_archivo)

# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\df_odt_prod_2024.csv'  # Reemplaza con tu ruta
# df_odt_prod_2024 = pd.read_csv(ruta_archivo)

In [246]:
# df_odt_prod_2022.head(2)

      odt  item_288
0  552285   1065193
1  551224    462370

In [46]:
# Crear un diccionario de mapeo para los campos a agregar
mapeo_productos = usu_pacifico.set_index("PRODUCTO")[
    ["AREA", "PLAN_COMERCIAL", "NIVEL", "LATI_USU", "LONG_USU"]
].to_dict("index")


# Función para obtener los valores correspondientes
def obtener_datos_usuario(producto):
    if producto in mapeo_productos:
        return pd.Series(mapeo_productos[producto])
    else:
        return pd.Series(
            [None] * 5, index=["AREA", "PLAN_COMERCIAL", "NIVEL", "LATI_USU", "LONG_USU"]
        )

## 2022

In [47]:
# # Aplicar la función a la columna item_288 y agregar las nuevas columnas
# df_odt_prod_2022[['AREA', 'PLAN_COMERCIAL', 'NIVEL', 'LATI_USU', 'LONG_USU']] = df_odt_prod_2022['item_288'].apply(obtener_datos_usuario)
#
# # Mostrar las primeras filas del DataFrame con las nuevas columnas
# print(df_odt_prod_2022.info())

In [48]:
# df_odt_prod_2022.columns

In [49]:
# df_odt_prod_2022.to_csv("df_odt_prod_2022_f.csv", index=False)

In [50]:
# Aplicar la función a la columna item_288 y agregar las nuevas columnas
df_odt_prod_2023[["AREA", "PLAN_COMERCIAL", "NIVEL", "LATI_USU", "LONG_USU"]] = (
    df_odt_prod_2023["item_288"].apply(obtener_datos_usuario)
)

# Mostrar las primeras filas del DataFrame con las nuevas columnas
print(df_odt_prod_2023.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19584 entries, 0 to 19583
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   odt             19584 non-null  int64
 1   item_288        19584 non-null  int64
 2   AREA            19584 non-null  object
 3   PLAN_COMERCIAL  19584 non-null  object
 4   NIVEL           19584 non-null  float64
 5   LATI_USU        19584 non-null  float64
 6   LONG_USU        19584 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 1.0+ MB
None

In [51]:
df_odt_prod_2023.to_csv(data_interim_dir("df_odt_prod_2023_f.csv"), index=False)

In [52]:
# # Aplicar la función a la columna item_288 y agregar las nuevas columnas
# df_odt_prod_2024[['AREA', 'PLAN_COMERCIAL', 'NIVEL', 'LATI_USU', 'LONG_USU']] = df_odt_prod_2024['item_288'].apply(obtener_datos_usuario)
#
# # Mostrar las primeras filas del DataFrame con las nuevas columnas
# print(df_odt_prod_2024.info())

In [53]:
# df_odt_prod_2024.to_csv("df_odt_prod_2024_f.csv", index=False)

### Traducir orden con uid

In [54]:
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\zentry\\conversion uid orden.xlsx'
ruta_archivo = data_raw_dir("conversion uid orden.xlsx")
odt_a_uid = pd.read_excel(ruta_archivo)

In [55]:
odt_a_uid.head(2)

       uid     orden
0  1270785  25503591
1  2041056  28157132

In [56]:
# Crear un diccionario de mapeo de 'orden' a 'uid'
mapeo_orden_uid = odt_a_uid.set_index("uid")["orden"].to_dict()


# Función para obtener el uid correspondiente
def obtener_uid(orden):
    if orden in mapeo_orden_uid:
        return mapeo_orden_uid[orden]
    else:
        return None

#### 2022

In [57]:
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\df_odt_prod_2022_f.csv'  # Reemplaza con tu ruta
# df_odt_prod_2022 = pd.read_csv(ruta_archivo)

In [58]:
# df_odt_prod_2022['orden'] = df_odt_prod_2022['odt'].apply(obtener_uid)

In [59]:
# df_odt_prod_2022.info()

In [60]:
# df_odt_prod_2022.head(2)

In [61]:
# df_odt_prod_2022.to_csv("J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\df_odt_prod_2022_uid.csv", index=False)

#### 2023

In [62]:
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\df_odt_prod_2023_f.csv'  # Reemplaza con tu ruta
ruta_archivo = data_interim_dir("df_odt_prod_2023_f.csv")
df_odt_prod_2023 = pd.read_csv(ruta_archivo)

In [63]:
df_odt_prod_2023["orden"] = df_odt_prod_2023["odt"].apply(obtener_uid)

In [64]:
df_odt_prod_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19584 entries, 0 to 19583
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   odt             19584 non-null  int64
 1   item_288        19584 non-null  int64
 2   AREA            19584 non-null  object
 3   PLAN_COMERCIAL  19584 non-null  object
 4   NIVEL           19584 non-null  float64
 5   LATI_USU        19584 non-null  float64
 6   LONG_USU        19584 non-null  float64
 7   orden           19584 non-null  int64
dtypes: float64(3), int64(3), object(2)
memory usage: 1.2+ MB

In [65]:
df_odt_prod_2023.head(2)

,odt,item_288,AREA,PLAN_COMERCIAL,NIVEL,LATI_USU,LONG_USU,orden
0,1561972,1234558,Urbano,31-PLAN RESIDENCIAL TELEMEDIDO,1.0,1.779928,-78.787850,26200906
1,1813259,1042646,Urbano,31-PLAN RESIDENCIAL TELEMEDIDO,1.0,1.819217,-78.735098,27383608

In [66]:
df_odt_prod_2023.to_csv(data_interim_dir("df_odt_prod_2023_uid.csv"), index=False)

#### 2024

In [151]:
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\df_odt_prod_2024_f.csv'  # Reemplaza con tu ruta
# df_odt_prod_2024 = pd.read_csv(ruta_archivo)

In [153]:
# df_odt_prod_2024['orden'] = df_odt_prod_2024['odt'].apply(obtener_uid)

In [155]:
# df_odt_prod_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14179 entries, 0 to 14178
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   odt             14179 non-null  int64
 1   item_288        14179 non-null  int64
 2   AREA            14173 non-null  object
 3   PLAN_COMERCIAL  14179 non-null  object
 4   NIVEL           14179 non-null  float64
 5   LATI_USU        14179 non-null  float64
 6   LONG_USU        14179 non-null  float64
 7   orden           14179 non-null  int64
dtypes: float64(3), int64(3), object(2)
memory usage: 886.3+ KB

In [157]:
# df_odt_prod_2024.head(2)

,odt,item_288,AREA,PLAN_COMERCIAL,NIVEL,LATI_USU,LONG_USU,orden
0,2791267,1232289,Urbano,31-PLAN RESIDENCIAL TELEMEDIDO,1.0,1.818847,-78.749438,32532195
1,2795084,1219432,Urbano,31-PLAN RESIDENCIAL TELEMEDIDO,1.0,1.816395,-78.763251,32735045

In [159]:
# df_odt_prod_2024.to_csv("J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\df_odt_prod_2024_uid.csv", index=False)

### Unir a "anomalias 2023"

In [67]:
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\zentry\\anomalias 2023.xlsx'
ruta_archivo = data_raw_dir("anomalias 2022 23 y 24.xlsx")
anom_a_2023 = pd.read_excel(ruta_archivo)

In [68]:
anom_a_2023.sample(10)

,Zona,Contrato,Orden,Usuario,Estado,Ejecucion,Revision,Codigo,Anomalia,N. Unidad,Unidad,N. Causa,Causa,U. Genera,Descripcion,Motivo,Cuadrilla,kWh Rec,Factor
16971,PA,P Y 242.2023,25069770,1097040,Aprobada,2023-05-08 15:28:16-05,2023-05-10 01:40:50.50676-05,82 / 1 / 82,Linea Directa / ACOMETIDA O DERIVACIÓN NO AUTO...,0,CONTROL PERDIDAS,0,CAUSA NO DETERMINADA,GSANDOVAL,Anomalia verificada y aprobada,Creacion Sello Tapa Principal #4,ZTY1452,549.0,NaN
18712,PA,MEC 231.2023,26244390,1141561,Rechazada,2023-06-14 10:44:46-05,2023-06-23 09:13:17.266492-05,BPQ,Bornera Perforada/Quemada,0,FACTURACION,0,CAUSA NO DETERMINADA,KMONTANO,Anomalia verificada con acta digital,No Procede Pare,ZTY1365,0.0,NaN
1770,SU,UNI 179.2022,17010315,1200812,Pendiente,2022-02-05 13:26:16-05,NaN,NaN,medidor no conforme,0,GES. ENERGETICA,0,CAUSA NO DETERMINADA,MARIMEJIACH,Posible anomalia,Disponible,ZTY1148,NaN,NaN
26686,OC,UNI 402.2024,32645637,1249511,Rechazada,2024-05-20 14:14:31-05,2024-06-19 16:13:37.762878-05,BPQ / N/A,Bornera Perforada/Quemada / medidor no conforme,0,FACTURACION,0,CAUSA NO DETERMINADA,YPAJOY,Anomalia verificada con acta digital,No Procede Pare,ZTY1744,0.0,NaN
14717,PA,MEC 495.2022,23066562,1170802,Aprobada,2022-12-13 14:28:27-05,2022-12-14 01:44:58.260882-05,1 / 38 / 82 / 82,ACOMETIDA O DERIVACIÓN NO AUTORIZADA HACIA CAR...,0,GES. ENERGETICA,0,CAUSA NO DETERMINADA,JSAAVEDRA,Anomalia verificada y aprobada,Creacion Sello Tapa Principal #4,ZTY1314,217.0,NaN
18733,NO,R Y 211.2023,26246677,462864,Aprobada,2023-05-24 16:02:16-05,2023-05-25 01:37:25.911431-05,1 / 38 / 38 / 82,ACOMETIDA O DERIVACIÓN NO AUTORIZADA HACIA CAR...,0,CONTROL PERDIDAS,0,CAUSA NO DETERMINADA,EOVIEDO123,Anomalia verificada y aprobada,Creacion Sello Tapa Principal #4,ZTY1356,1251.0,NaN
24936,NO,R Y 211.2023,30634857,1080672,Aprobada,2024-01-04 09:37:26-05,2024-01-24 17:07:06.848642-05,82 / 82 / 82 / 1 / 1 / 1,Se Corrige Anomalía / Se Corrige Anomalía / Se...,0,FACTURACION,0,CAUSA NO DETERMINADA,JDDELGADO,Anomalia verificada y aprobada,Creacion Sello Tapa Principal #4,ZTY1353,0.0,NaN
10116,CE,ING 175.2022,20981673,1113812,Pendiente,2022-08-29 08:15:45-05,NaN,NaN,medidor no conforme,0,FACTURACION,0,CAUSA NO DETERMINADA,EROMO123,Posible anomalia,Disponible,ZTY1126,0.0,NaN
19983,PA,P Y 242.2023,27075763,1075147,Rechazada,2023-07-07 09:32:56-05,2023-07-12 10:15:50.164893-05,38,Inspección Técnica Conforme,0,GES. ENERGETICA,0,CAUSA NO DETERMINADA,EGUSTIN123,Anomalia verificada con acta digital,No Existe Anomalía En El Acta,ZTY1453,NaN,NaN
20011,SU,PRI 232.2023,27081921,1244946,Pendiente,2023-07-08 09:15:15-05,NaN,NaN,medidor no conforme,0,FACTURACION,0,CAUSA NO DETERMINADA,ECUASPUD,Posible anomalia,Disponible,ZTY1415,0.0,NaN

In [69]:
# Si la columna es de tipo datetime
if pd.api.types.is_datetime64_any_dtype(anom_a_2023["Ejecucion"]):
    # Extraer el año directamente
    anom_a_2023["año"] = anom_a_2023["Ejecucion"].dt.year
else:
    # Si es un string, primero intentamos convertirla a datetime
    try:
        # Convertir a datetime y extraer el año
        anom_a_2023["año"] = pd.to_datetime(anom_a_2023["Ejecucion"]).dt.year
    except:
        # Si no se puede convertir a datetime, extraer usando regex o string slicing
        # Método con regex (suponiendo que el año está en formato YYYY en alguna parte del string)
        anom_a_2023["año"] = (
            anom_a_2023["Ejecucion"].str.extract(r"(\d{4})", expand=False).astype(float)
        )

anom_a_2023.año.value_counts()

año
2022    14480
2024     9845
2023     9490
2021      864
2020        4
Name: count, dtype: int64

In [70]:
anom_a_2023 = anom_a_2023[anom_a_2023.año == 2023]

In [71]:
# anom_a_2023_filtrado['Orden'].value_counts()

In [72]:
# Identificar registros duplicados en 'Orden' y donde 'Codigo' es 'N/A'
anom_a_2023["Codigo"] = anom_a_2023["Codigo"].astype(str)
anom_a_2023["Revision"] = anom_a_2023["Revision"].astype(str)
duplicados_con_na = anom_a_2023[
    (anom_a_2023.duplicated(subset="Orden", keep=False))
    & (anom_a_2023["Revision"] == "nan")
]

# Obtener los índices de los registros a eliminar
indices_a_eliminar = duplicados_con_na.index

# Eliminar los registros
anom_a_2023_filtrado = anom_a_2023.drop(indices_a_eliminar)

# Guardar el nuevo dataframe en un archivo csv
anom_a_2023_filtrado.to_csv("anom_a_2023_filtrado.csv", index=False)

In [73]:
# Crear un diccionario de mapeo para los campos a agregar
mapeo_productos = anom_a_2023_filtrado.set_index("Orden")[["Descripcion"]].to_dict(
    "index"
)


# Función para obtener los valores correspondientes
def obtener_datos_usuario(producto):
    if producto in mapeo_productos:
        return pd.Series(mapeo_productos[producto])
    else:
        return pd.Series([None] * 1, index=["Descripcion"])

### 2022

In [74]:
# df_odt_prod_2022[['Descripcion']] = df_odt_prod_2022['orden'].apply(obtener_datos_usuario)
#
# # Mostrar las primeras filas del DataFrame con las nuevas columnas
# print(df_odt_prod_2022.info())

In [75]:
# df_odt_prod_2022.to_csv("J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\df_odt_prod_2022_dscr.csv", index=False)

### 2023

In [76]:
df_odt_prod_2023[["Descripcion"]] = df_odt_prod_2023["orden"].apply(obtener_datos_usuario)

# Mostrar las primeras filas del DataFrame con las nuevas columnas
print(df_odt_prod_2023.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19584 entries, 0 to 19583
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   odt             19584 non-null  int64
 1   item_288        19584 non-null  int64
 2   AREA            19584 non-null  object
 3   PLAN_COMERCIAL  19584 non-null  object
 4   NIVEL           19584 non-null  float64
 5   LATI_USU        19584 non-null  float64
 6   LONG_USU        19584 non-null  float64
 7   orden           19584 non-null  int64
 8   Descripcion     3344 non-null   object
dtypes: float64(3), int64(3), object(3)
memory usage: 1.3+ MB
None

In [78]:
ruta_archivo = data_interim_dir("df_odt_prod_2023_dscr.csv")
df_odt_prod_2023.to_csv(ruta_archivo, index=False)

### 2024

In [161]:
# df_odt_prod_2024[['Descripcion']] = df_odt_prod_2024['orden'].apply(obtener_datos_usuario)
#
# # Mostrar las primeras filas del DataFrame con las nuevas columnas
# print(df_odt_prod_2024.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14179 entries, 0 to 14178
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   odt             14179 non-null  int64
 1   item_288        14179 non-null  int64
 2   AREA            14173 non-null  object
 3   PLAN_COMERCIAL  14179 non-null  object
 4   NIVEL           14179 non-null  float64
 5   LATI_USU        14179 non-null  float64
 6   LONG_USU        14179 non-null  float64
 7   orden           14179 non-null  int64
 8   Descripcion     0 non-null      object
dtypes: float64(3), int64(3), object(3)
memory usage: 997.1+ KB
None

In [163]:
# df_odt_prod_2024.to_csv("J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\df_odt_prod_2024_dscr.csv", index=False)

### Unión items por odt

In [79]:
def unir_niveles(anio, niveles, nuevo_dataset):
    """
    Función para agregar datos de múltiples datasets a un dataset base usando la columna 'odt'.

    Parámetros:
    - anio (int): Año de los datasets.
    - niveles (list): Lista de IDs de variables a procesar.
    - nuevo_dataset (DataFrame): Dataset base al que se le agregarán las columnas.

    Retorna:
    - DataFrame con las columnas agregadas.
    """
    nuevo_dataset = nuevo_dataset.copy()

    # Conservar las columnas 'existencia' y 'item_288' al inicio
    columnas_conservadas = []
    if "item_288" in nuevo_dataset.columns:
        columnas_conservadas.append("item_288")
    if "PLAN_COMERCIAL" in nuevo_dataset.columns:
        columnas_conservadas.append("PLAN_COMERCIAL")
    if "NIVEL" in nuevo_dataset.columns:
        columnas_conservadas.append("NIVEL")
    if "LATI_USU" in nuevo_dataset.columns:
        columnas_conservadas.append("LATI_USU")
    if "LONG_USU" in nuevo_dataset.columns:
        columnas_conservadas.append("LONG_USU")
    if "AREA" in nuevo_dataset.columns:
        columnas_conservadas.append("AREA")
    if "Descripcion" in nuevo_dataset.columns:
        columnas_conservadas.append("Descripcion")

    for nivel in niveles:
        df_actual = globals().get(f"evento{anio}_{nivel}")

        if df_actual is not None:
            if "odt" in df_actual.columns and "value" in df_actual.columns:
                df_actual = df_actual[["odt", "value"]].drop_duplicates(subset="odt")
                nuevo_dataset[f"item_{nivel}"] = nuevo_dataset["odt"].map(
                    df_actual.set_index("odt")["value"]
                )

                print(f"✔️ Procesado: evento{anio}_{nivel}")
            else:
                print(f"⚠️ Columnas faltantes en: evento{anio}_{nivel}")
        else:
            print(f"⚠️ No encontrado: evento{anio}_{nivel}")

    # Reorganizar las columnas para que 'existencia' y 'item_288' estén al inicio
    columnas_restantes = [
        col for col in nuevo_dataset.columns if col not in columnas_conservadas
    ]
    nuevo_dataset = nuevo_dataset[columnas_conservadas + columnas_restantes]

    # Guardar el dataset consolidado
    output_path = data_processed_dir(f"dataset_decantado_{anio}.csv")
    nuevo_dataset.to_csv(output_path, index=False)
    print(f"✅ Proceso completado. Dataset guardado en {output_path}.")

    return nuevo_dataset

In [80]:
# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\nuevo_dataset_comprob_2022_filtrado.csv'  # Reemplaza con tu ruta
# df_2022_f_c = pd.read_csv(ruta_archivo)

# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\nuevo_dataset_comprob_2023_filtrado.csv'  # Reemplaza con tu ruta
# df_2023_f_c = pd.read_csv(ruta_archivo)

# ruta_archivo = 'J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\nuevo_dataset_comprob_2024_filtrado.csv'  # Reemplaza con tu ruta
# df_2024_f_c = pd.read_csv(ruta_archivo)

### 2022

In [168]:
# # Lista de ids de variables
# niveles = [1442, 8, 237, 23, 24, 33, 598, 601, 43, 99, 35, 111, 599, 108, 603, 190, 192, 588, 248, 591, 602, 41, 211, 74, 1889, 597, 600, 37, 1407, 1410, 68, 1328, 1334, 594, 67, 1408, 1352, 1405, 1283, 1343, 1346, 1292, 1298, 69, 1331, 202, 1349]
#
# dataset_decan_2022 = unir_niveles(2022, niveles, df_odt_prod_2022)

✔️ Procesado: evento2022_1442
✔️ Procesado: evento2022_8
✔️ Procesado: evento2022_237
✔️ Procesado: evento2022_23
✔️ Procesado: evento2022_24
✔️ Procesado: evento2022_33
✔️ Procesado: evento2022_598
✔️ Procesado: evento2022_601
✔️ Procesado: evento2022_43
✔️ Procesado: evento2022_99
✔️ Procesado: evento2022_35
✔️ Procesado: evento2022_111
✔️ Procesado: evento2022_599
✔️ Procesado: evento2022_108
✔️ Procesado: evento2022_603
✔️ Procesado: evento2022_190
✔️ Procesado: evento2022_192
✔️ Procesado: evento2022_588
✔️ Procesado: evento2022_248
✔️ Procesado: evento2022_591
✔️ Procesado: evento2022_602
✔️ Procesado: evento2022_41
✔️ Procesado: evento2022_211
✔️ Procesado: evento2022_74
✔️ Procesado: evento2022_1889
✔️ Procesado: evento2022_597
✔️ Procesado: evento2022_600
✔️ Procesado: evento2022_37
✔️ Procesado: evento2022_1407
✔️ Procesado: evento2022_1410
✔️ Procesado: evento2022_68
✔️ Procesado: evento2022_1328
✔️ Procesado: evento2022_1334
✔️ Procesado: evento2022_594
✔️ Procesado: evento2022_67
✔️ Procesado: evento2022_1408
✔️ Procesado: evento2022_1352
✔️ Procesado: evento2022_1405
✔️ Procesado: evento2022_1283
✔️ Procesado: evento2022_1343
✔️ Procesado: evento2022_1346
✔️ Procesado: evento2022_1292
✔️ Procesado: evento2022_1298
✔️ Procesado: evento2022_69
✔️ Procesado: evento2022_1331
✔️ Procesado: evento2022_202
✔️ Procesado: evento2022_1349
✅ Proceso completado. Dataset guardado en J:\JESSICA\Jessica\Rafael\igrid\cedenar\python_zentr\dataset_decantado_2022.csv.

In [174]:
# dataset_decan_2022.head(2)

,item_288,PLAN_COMERCIAL,NIVEL,LATI_USU,LONG_USU,AREA,Descripcion,odt,orden,item_1442,item_8,item_237,item_23,item_24,item_33,item_598,item_601,item_43,item_99,item_35,item_111,item_599,item_108,item_603,item_190,item_192,item_588,item_248,item_591,item_602,item_41,item_211,item_74,item_1889,item_597,item_600,item_37,item_1407,item_1410,item_68,item_1328,item_1334,item_594,item_67,item_1408,item_1352,item_1405,item_1283,item_1343,item_1346,item_1292,item_1298,item_69,item_1331,item_202,item_1349
0,1065193,31-PLAN RESIDENCIAL TELEMEDIDO,1.0,1.811442,-78.769160,Urbano,None,552285,21286266,0.0,VIVIENDA,True,SI,SI,64284,DT,DA,636289.0,124.0,NaN,0.08,NaN,9.23,RA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,462370,31-PLAN RESIDENCIAL TELEMEDIDO,1.0,1.805372,-78.771186,Urbano,None,551224,21270629,0.0,VIVIENDA,True,NaN,NaN,501249,VE,DA,NaN,NaN,501250.0,NaN,VE,NaN,NaN,2.0,1.0,634949.0,NaN,634950.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [176]:
# dataset_decan_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33461 entries, 0 to 33460
Data columns (total 56 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   item_288        33461 non-null  int64
 1   PLAN_COMERCIAL  33461 non-null  object
 2   NIVEL           33451 non-null  float64
 3   LATI_USU        33451 non-null  float64
 4   LONG_USU        33451 non-null  float64
 5   AREA            33461 non-null  object
 6   Descripcion     107 non-null    object
 7   odt             33461 non-null  int64
 8   orden           33461 non-null  int64
 9   item_1442       33410 non-null  float64
 10  item_8          29392 non-null  object
 11  item_237        29409 non-null  object
 12  item_23         26481 non-null  object
 13  item_24         26478 non-null  object
 14  item_33         23562 non-null  object
 15  item_598        23446 non-null  object
 16  item_601        25882 non-null  object
 17  item_43         19023 non-null  object
 18  item_99         22951 non-null  float64
 19  item_35         19908 non-null  float64
 20  item_111        15488 non-null  float64
 21  item_599        19803 non-null  object
 22  item_108        16214 non-null  float64
 23  item_603        19075 non-null  object
 24  item_190        5757 non-null   float64
 25  item_192        5702 non-null   float64
 26  item_588        5480 non-null   float64
 27  item_248        2592 non-null   object
 28  item_591        5465 non-null   float64
 29  item_602        9509 non-null   object
 30  item_41         9427 non-null   object
 31  item_211        2369 non-null   float64
 32  item_74         4520 non-null   object
 33  item_1889       2406 non-null   float64
 34  item_597        5685 non-null   object
 35  item_600        694 non-null    object
 36  item_37         676 non-null    float64
 37  item_1407       34 non-null     object
 38  item_1410       7 non-null      object
 39  item_68         383 non-null    object
 40  item_1328       7 non-null      float64
 41  item_1334       0 non-null      object
 42  item_594        67 non-null     float64
 43  item_67         16 non-null     object
 44  item_1408       27 non-null     object
 45  item_1352       4 non-null      float64
 46  item_1405       7 non-null      object
 47  item_1283       6 non-null      float64
 48  item_1343       0 non-null      object
 49  item_1346       0 non-null      object
 50  item_1292       6 non-null      object
 51  item_1298       6 non-null      object
 52  item_69         4 non-null      object
 53  item_1331       0 non-null      float64
 54  item_202        15 non-null     float64
 55  item_1349       0 non-null      object
dtypes: float64(21), int64(3), object(32)
memory usage: 14.3+ MB

### 2023

In [81]:
# Lista de ids de variables
niveles = [
    1442,
    8,
    237,
    23,
    24,
    33,
    598,
    601,
    43,
    99,
    35,
    111,
    599,
    108,
    603,
    190,
    192,
    588,
    248,
    591,
    602,
    41,
    211,
    74,
    1889,
    597,
    600,
    37,
    1407,
    1410,
    68,
    1328,
    1334,
    594,
    67,
    1408,
    1352,
    1405,
    1283,
    1343,
    1346,
    1292,
    1298,
    69,
    1331,
    202,
    1349,
]

dataset_decan_2023 = unir_niveles(2023, niveles, df_odt_prod_2023)

✔️ Procesado: evento2023_1442
✔️ Procesado: evento2023_8
✔️ Procesado: evento2023_237
✔️ Procesado: evento2023_23
✔️ Procesado: evento2023_24
✔️ Procesado: evento2023_33
✔️ Procesado: evento2023_598
✔️ Procesado: evento2023_601
✔️ Procesado: evento2023_43
✔️ Procesado: evento2023_99
✔️ Procesado: evento2023_35
✔️ Procesado: evento2023_111
✔️ Procesado: evento2023_599
✔️ Procesado: evento2023_108
✔️ Procesado: evento2023_603
✔️ Procesado: evento2023_190
✔️ Procesado: evento2023_192
✔️ Procesado: evento2023_588
✔️ Procesado: evento2023_248
✔️ Procesado: evento2023_591
✔️ Procesado: evento2023_602
✔️ Procesado: evento2023_41
✔️ Procesado: evento2023_211
✔️ Procesado: evento2023_74
✔️ Procesado: evento2023_1889
✔️ Procesado: evento2023_597
✔️ Procesado: evento2023_600
✔️ Procesado: evento2023_37
✔️ Procesado: evento2023_1407
✔️ Procesado: evento2023_1410
✔️ Procesado: evento2023_68
✔️ Procesado: evento2023_1328
✔️ Procesado: evento2023_1334
✔️ Procesado: evento2023_594
✔️ Procesado: evento2023_67
✔️ Procesado: evento2023_1408
✔️ Procesado: evento2023_1352
✔️ Procesado: evento2023_1405
✔️ Procesado: evento2023_1283
✔️ Procesado: evento2023_1343
✔️ Procesado: evento2023_1346
✔️ Procesado: evento2023_1292
✔️ Procesado: evento2023_1298
✔️ Procesado: evento2023_69
✔️ Procesado: evento2023_1331
✔️ Procesado: evento2023_202
✔️ Procesado: evento2023_1349
✅ Proceso completado. Dataset guardado en /Users/frandak2/Documents/repos/cedenar_anomalies/data/processed/dataset_decantado_2023.csv.

In [82]:
dataset_decan_2023.head(2)

,item_288,PLAN_COMERCIAL,NIVEL,LATI_USU,LONG_USU,AREA,Descripcion,odt,orden,item_1442,item_8,item_237,item_23,item_24,item_33,item_598,item_601,item_43,item_99,item_35,item_111,item_599,item_108,item_603,item_190,item_192,item_588,item_248,item_591,item_602,item_41,item_211,item_74,item_1889,item_597,item_600,item_37,item_1407,item_1410,item_68,item_1328,item_1334,item_594,item_67,item_1408,item_1352,item_1405,item_1283,item_1343,item_1346,item_1292,item_1298,item_69,item_1331,item_202,item_1349
0,1234558,31-PLAN RESIDENCIAL TELEMEDIDO,1.0,1.779928,-78.787850,Urbano,None,1561972,26200906,0.0,VIVIENDA,TRUE,SI,NO,NaN,NaN,DA,NaN,122.8,NaN,0.06,NaN,9.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1042646,31-PLAN RESIDENCIAL TELEMEDIDO,1.0,1.819217,-78.735098,Urbano,None,1813259,27383608,0.0,VIVIENDA,TRUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16763.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
dataset_decan_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19584 entries, 0 to 19583
Data columns (total 56 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   item_288        19584 non-null  int64
 1   PLAN_COMERCIAL  19584 non-null  object
 2   NIVEL           19584 non-null  float64
 3   LATI_USU        19584 non-null  float64
 4   LONG_USU        19584 non-null  float64
 5   AREA            19584 non-null  object
 6   Descripcion     3344 non-null   object
 7   odt             19584 non-null  int64
 8   orden           19584 non-null  int64
 9   item_1442       19521 non-null  float64
 10  item_8          18762 non-null  object
 11  item_237        16911 non-null  object
 12  item_23         13367 non-null  object
 13  item_24         13365 non-null  object
 14  item_33         12781 non-null  object
 15  item_598        12848 non-null  object
 16  item_601        14316 non-null  object
 17  item_43         10245 non-null  float64
 18  item_99         10969 non-null  float64
 19  item_35         10973 non-null  object
 20  item_111        9299 non-null   float64
 21  item_599        10957 non-null  object
 22  item_108        9319 non-null   float64
 23  item_603        10325 non-null  object
 24  item_190        4118 non-null   float64
 25  item_192        2236 non-null   object
 26  item_588        2012 non-null   object
 27  item_248        1064 non-null   object
 28  item_591        2004 non-null   object
 29  item_602        6138 non-null   object
 30  item_41         6456 non-null   float64
 31  item_211        2106 non-null   float64
 32  item_74         2146 non-null   object
 33  item_1889       0 non-null      float64
 34  item_597        3925 non-null   object
 35  item_600        343 non-null    object
 36  item_37         340 non-null    float64
 37  item_1407       14 non-null     object
 38  item_1410       41 non-null     object
 39  item_68         15 non-null     object
 40  item_1328       41 non-null     float64
 41  item_1334       1 non-null      object
 42  item_594        11 non-null     object
 43  item_67         3 non-null      object
 44  item_1408       8 non-null      object
 45  item_1352       2 non-null      float64
 46  item_1405       2 non-null      object
 47  item_1283       0 non-null      float64
 48  item_1343       1 non-null      float64
 49  item_1346       0 non-null      float64
 50  item_1292       0 non-null      float64
 51  item_1298       0 non-null      float64
 52  item_69         3 non-null      object
 53  item_1331       0 non-null      object
 54  item_202        2 non-null      float64
 55  item_1349       1 non-null      float64
dtypes: float64(22), int64(3), object(31)
memory usage: 8.4+ MB

#### 2024

In [84]:
# # Lista de ids de variables
# niveles = [1442, 8, 237, 23, 24, 33, 598, 601, 43, 99, 35, 111, 599, 108, 603, 190, 192, 588, 248, 591, 602, 41, 211, 74, 1889, 597, 600, 37, 1407, 1410, 68, 1328, 1334, 594, 67, 1408, 1352, 1405, 1283, 1343, 1346, 1292, 1298, 69, 1331, 202, 1349]
#
# dataset_decan_2024 = unir_niveles(2024, niveles, df_odt_prod_2024)

In [85]:
# dataset_decan_2024.info()

In [89]:
# Función para generar el informe detallado
def generar_informe(dataset, output_file):
    resumen = []

    for columna in dataset.columns:
        # Información básica
        total_registros = len(dataset)
        vacios = dataset[columna].isnull().sum()
        tipo = dataset[columna].dtype

        # Resumen por tipo de dato
        if pd.api.types.is_numeric_dtype(dataset[columna]):
            estadisticas = dataset[columna].describe(percentiles=[0.25, 0.5, 0.75])
            resumen.append(
                {
                    "Variable": columna,
                    "Tipo": "Numérica",
                    "Total Registros": total_registros,
                    "Vacios": vacios,
                    "Mínimo": estadisticas["min"],
                    "1er Cuartil (25%)": estadisticas["25%"],
                    "Mediana (50%)": estadisticas["50%"],
                    "3er Cuartil (75%)": estadisticas["75%"],
                    "Máximo": estadisticas["max"],
                    "Media": estadisticas["mean"],
                }
            )

        elif pd.api.types.is_object_dtype(dataset[columna]):
            moda = (
                dataset[columna].mode()[0]
                if not dataset[columna].mode().empty
                else "Sin Moda"
            )
            frecuencias = dataset[columna].value_counts().to_dict()

            resumen.append(
                {
                    "Variable": columna,
                    "Tipo": "Categoría",
                    "Total Registros": total_registros,
                    "Vacios": vacios,
                    "Moda": moda,
                    "Frecuencias": frecuencias,
                }
            )

    # Crear DataFrame con el resumen
    informe_df = pd.DataFrame(resumen)

    # Guardar el informe en un archivo CSV
    informe_df.to_csv(data_processed_dir(output_file), index=False)

    print(f"Informe generado y guardado en: {output_file}")

In [90]:
# nuevo_dataset = pd.read_csv("J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\dataset_decantado_2022.csv")
# generar_informe(nuevo_dataset, "informe_dataset_2022.csv")

In [91]:
ruta_archivo = data_processed_dir("dataset_decantado_2023.csv")
nuevo_dataset = pd.read_csv(ruta_archivo)
generar_informe(nuevo_dataset, "informe_dataset_2023.csv")

Informe generado y guardado en: informe_dataset_2023.csv

/var/folders/pq/cm_j30pd6d5gvwryc4gttm2h0000gn/T/ipykernel_7922/3050476619.py:2: DtypeWarning: Columns (14,43,46,52) have mixed types. Specify dtype option on import or set low_memory=False.
  nuevo_dataset = pd.read_csv(ruta_archivo)

In [418]:
# nuevo_dataset = pd.read_csv("J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\dataset_decantado_2024.csv")
# generar_informe(nuevo_dataset, "informe_dataset_2024.csv")

Informe generado y guardado en: informe_dataset_2024.csv

### Pruebas código

In [ ]:
# Lista de ids de variables tenidas en cuenta
niveles = [
    1442,
    8,
    237,
    23,
    24,
    33,
    598,
    601,
    43,
    99,
    35,
    111,
    599,
    108,
    603,
    190,
    192,
    588,
    248,
    591,
    602,
    41,
    211,
    74,
    1889,
    597,
    600,
    37,
    1407,
    1410,
    68,
    1328,
    1334,
    594,
    67,
    1408,
    1352,
    1405,
    1283,
    1343,
    1346,
    1292,
    1298,
    69,
    1331,
    202,
    1349,
]

# Base principal (odt_pacifico) ya cargada
nuevo_dataset = odt_pacifico.copy()

# Iterar sobre cada nivel y agregar la columna correspondiente
for nivel in niveles:
    # Obtener dinámicamente el DataFrame
    df_actual = globals().get(f"evento2022_{nivel}")

    if df_actual is not None:
        # Asegurar que 'odt' y 'value' existen en el DataFrame
        if "odt" in df_actual.columns and "value" in df_actual.columns:
            # Eliminar duplicados en 'odt' para evitar el error
            df_actual = df_actual[["odt", "value"]].drop_duplicates(subset="odt")

            # Agregar columna con map()
            nuevo_dataset[f"item_{nivel}"] = nuevo_dataset["odt"].map(
                df_actual.set_index("odt")["value"]
            )

            print(f"✔️ Procesado: evento2022_{nivel}")
        else:
            print(f"⚠️ Columnas faltantes en: evento2022_{nivel}")
    else:
        print(f"⚠️ No encontrado: evento2022_{nivel}")

# Guardar el nuevo dataset consolidado
nuevo_dataset.to_csv(
    "J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\nuevo_dataset.csv",
    index=False,
)

print("✅ Proceso completado. Dataset guardado.")

In [ ]:
nuevo_dataset.info()

In [ ]:
# Función para generar el informe detallado
def generar_informe(dataset, output_file):
    resumen = []

    for columna in dataset.columns:
        # Información básica
        total_registros = len(dataset)
        vacios = dataset[columna].isnull().sum()
        tipo = dataset[columna].dtype

        # Resumen por tipo de dato
        if pd.api.types.is_numeric_dtype(dataset[columna]):
            estadisticas = dataset[columna].describe(percentiles=[0.25, 0.5, 0.75])
            resumen.append(
                {
                    "Variable": columna,
                    "Tipo": "Numérica",
                    "Total Registros": total_registros,
                    "Vacios": vacios,
                    "Mínimo": estadisticas["min"],
                    "1er Cuartil (25%)": estadisticas["25%"],
                    "Mediana (50%)": estadisticas["50%"],
                    "3er Cuartil (75%)": estadisticas["75%"],
                    "Máximo": estadisticas["max"],
                    "Media": estadisticas["mean"],
                }
            )

        elif pd.api.types.is_object_dtype(dataset[columna]):
            moda = (
                dataset[columna].mode()[0]
                if not dataset[columna].mode().empty
                else "Sin Moda"
            )
            frecuencias = dataset[columna].value_counts().to_dict()

            resumen.append(
                {
                    "Variable": columna,
                    "Tipo": "Categoría",
                    "Total Registros": total_registros,
                    "Vacios": vacios,
                    "Moda": moda,
                    "Frecuencias": frecuencias,
                }
            )

    # Crear DataFrame con el resumen
    informe_df = pd.DataFrame(resumen)

    # Guardar el informe en un archivo CSV
    informe_df.to_csv(output_file, index=False)

    print(f"Informe generado y guardado en: {output_file}")


# Usar la función con tu dataset
nuevo_dataset = pd.read_csv(
    "J:\\JESSICA\\Jessica\\Rafael\\igrid\\cedenar\\python_zentr\\nuevo_dataset.csv"
)
generar_informe(nuevo_dataset, "informe_dataset.csv")

In [ ]:
informe_dataset = pd.read_csv("informe_dataset.csv")

In [ ]:
informe_dataset